*.o
*.a
*.so
*.exe
*.prof
/.glide
/cover
/cover.main.html
/cover.x.html
/coverage.main.txt
/coverage.x.txt
/vendor
/TAGS

/encoding/thrift/thriftrw-plugin-yarpc/thriftrw-plugin-yarpc
/encoding/x/protobuf/protoc-gen-yarpc-go/protoc-gen-yarpc-go
/internal/crossdock/crossdock
/internal/examples/json-keyvalue/client/client
/internal/examples/json-keyvalue/server/server
/internal/examples/protobuf/protobuf
/internal/examples/thrift-hello/hello/hello
/internal/examples/thrift-keyvalue/keyvalue/client/client
/internal/examples/thrift-keyvalue/keyvalue/server/server
/internal/examples/thrift-oneway/thrift-oneway
/internal/service-test/service-test
