*.o
*.a
*.so
*.exe
*.prof
/.glide
/cover
/cover.html
/coverage.txt
/vendor
/TAGS

/encoding/thrift/thriftrw-plugin-yarpc/thriftrw-plugin-yarpc
/encoding/protobuf/protoc-gen-yarpc-go/protoc-gen-yarpc-go
/encoding/protobuf/protoc-gen-yarpc-go/protoc-gen-yarpc-go-v2
/internal/examples/json-keyvalue/client/client
/internal/examples/json-keyvalue/server/server
/internal/examples/protobuf/protobuf
/internal/examples/streaming/client/client
/internal/examples/streaming/server/server
/internal/examples/thrift-hello/hello/hello
/internal/examples/thrift-keyvalue/keyvalue/client/client
/internal/examples/thrift-keyvalue/keyvalue/server/server
/internal/examples/thrift-oneway/thrift-oneway
/internal/service-test/service-test
.idea
.vscode/
