version: '2'

services:
    crossdock:
        image: yarpc/crossdock
        links:
            - go
            - node
            - java
            - python
            - python-sync
        environment:
            - WAIT_FOR=go,node,java,python,python-sync

            - AXIS_CLIENT=go,node,java,python,python-sync
            - AXIS_SERVER=go,node,java,python
            - AXIS_TRANSPORT=http,tchannel
            - AXIS_ENCODING=raw,json,thrift
            - AXIS_ERRORS=go,node

            - BEHAVIOR_RAW=client,server,transport
            - BEHAVIOR_JSON=client,server,transport
            - BEHAVIOR_THRIFT=client,server,transport
            - BEHAVIOR_HEADERS=client,server,transport,encoding
            - BEHAVIOR_ERRORS=errors,server
            - BEHAVIOR_TCHCLIENT=client,server,encoding

    go:
        build: .
        ports:
            - "8080-8083"

    node:
        image: yarpc/yarpc-node
        ports:
            - "8080-8083"

    java:
        image: yarpc/yarpc-java
        ports:
            - "8080-8083"

    python:
        image: yarpc/yarpc-python
        ports:
            - "8080-8083"

    python-sync:
        image: yarpc/yarpc-python
        ports:
            - 8080
        environment:
            - SYNC=1
