{{define "client_stream" -}}
{{with .File}}
{{$gopkg := .Package.GoPackage}}

{{range .Services -}}
  {{$client := .Client}}

  {{/* Client stream interfaces */}}

  {{range .Methods -}}
    {{if or .ClientStreaming .ServerStreaming}}
    // {{.StreamClient}} is a streaming interface used in the {{$client}} interface.
    type {{.StreamClient}} interface {
      Context() context.Context
    {{if .ClientStreaming -}}
      Send(*{{goType .Request $gopkg}}, ...yarpc.StreamOption) error
    {{end -}}
    {{if .ServerStreaming -}}
      Recv(...yarpc.StreamOption) (*{{goType .Response $gopkg}}, error)
      CloseSend(...yarpc.StreamOption) error
    {{end -}}
    {{if and .ClientStreaming (not .ServerStreaming) -}}
      CloseAndRecv(...yarpc.StreamOption) (*{{goType .Response $gopkg}}, error)
    {{end -}}
    }
    {{end -}}
  {{end -}}

  {{/* Client stream implementations */}}

  {{range .Methods -}}
    {{if or .ClientStreaming .ServerStreaming}}
    type {{.StreamClientImpl}} struct {
      stream *yarpcprotobuf.ClientStream
    }

    var _ {{.StreamClient}} = (*{{.StreamClientImpl}})(nil)

    func (c *{{.StreamClientImpl}}) Context() context.Context {
      return c.stream.Context()
    }

    {{if .ClientStreaming}}
    func (c *{{.StreamClientImpl}}) Send(req *{{goType .Request $gopkg}}, opts ...yarpc.StreamOption) error {
      return c.stream.Send(req, opts...)
    }
    {{end -}}

    {{if .ServerStreaming}}
    func (c *{{.StreamClientImpl}}) Recv(opts ...yarpc.StreamOption) (*{{goType .Response $gopkg}}, error) {
      msg, err := c.stream.Receive(new({{goType .Response $gopkg}}), opts...)
      if err != nil {
        return nil, err
      }
      res, ok := msg.(*{{goType .Response $gopkg}})
      if !ok {
        return nil, yarpcprotobuf.CastError(new({{goType .Response $gopkg}}), msg)
      }
      return res, nil
    }

	func (c *{{.StreamClientImpl}}) CloseSend(opts ...yarpc.StreamOption) error {
      return c.stream.Close(opts...)
    }
    {{end -}}

    {{if and .ClientStreaming (not .ServerStreaming)}}
    func (c *{{.StreamClientImpl}}) CloseAndRecv(opts ...yarpc.StreamOption) (*{{goType .Response $gopkg}}, error) {
      if err := c.stream.Close(opts...); err != nil {
        return nil, err
      }
      msg, err := c.stream.Receive(new({{goType .Response $gopkg}}), opts...)
      if err != nil {
        return nil, err
      }
      res, ok := msg.(*{{goType .Response $gopkg}})
      if !ok {
        return nil, yarpcprotobuf.CastError(new({{goType .Response $gopkg}}), msg)
      }
      return res, err
    }
    {{end -}}

    {{end -}}
  {{end -}}

{{end -}}

{{end -}}{{end -}}
