{{define "fx" -}}
{{with .File}}
{{$gopkg := .Package.GoPackage}}
{{$reflectionVar := .Reflection.Var}}

{{range .Services -}}

  {{/* Fx clients */}}

  // {{.FxClient}}Params defines the parameters
  // required to provide a {{.Client}} into an
  // Fx application.
  type {{.FxClient}}Params struct {
    fx.In

    ClientProvider yarpc.ClientProvider
  }

  // {{.FxClient}}Result provides a {{.Client}}
  // into an Fx application.
  type {{.FxClient}}Result struct {
    fx.Out

    Client {{.Client}}
  }

  // New{{.FxClient}} provides a {{.Client}}
  // into an Fx application, using the given
  // name for routing.
  //
  //  fx.Provide(
  //    {{$gopkg}}.New{{.FxClient}}("service-name"),
  //    ...
  //  )
  func New{{.FxClient}}(name string, opts ...yarpcprotobuf.ClientOption) interface{} {
    return func(p {{.FxClient}}Params) ({{.FxClient}}Result, error) {
      client, ok := p.ClientProvider.Client(name)
      if !ok {
        return {{.FxClient}}Result{},
          fmt.Errorf("generated code could not retrieve client for %q", name)
      }
      return {{.FxClient}}Result{
        Client: New{{.Client}}(client, opts...),
      }, nil
    }
  }

  {{/* Fx servers */}}

  // {{.FxServer}}Params defines the paramaters
  // required to provide the {{.Server}} procedures
  // into an Fx application.
  type {{.FxServer}}Params struct {
    fx.In

    Server {{.Server}}
  }

  // {{.FxServer}}Result provides the {{.Server}}
  // procedures into an Fx application.
  type {{.FxServer}}Result struct {
    fx.Out

    Procedures     []yarpc.Procedure     `group:"yarpcfx"`
    ReflectionMeta reflection.ServerMeta `group:"yarpcfx"`
  }

  // New{{.FxServer}} provides the {{.Server}}
  // procedures to an Fx application. It expects
  // a {{.Server}} to be present in the container.
  //
  //  fx.Provide(
  //    {{$gopkg}}.New{{.FxServer}}(),
  //    ...
  //  )
  func New{{.FxServer}}() interface{} {
    return func(p {{.FxServer}}Params) {{.FxServer}}Result {
      return {{.FxServer}}Result{
        Procedures: Build{{.Procedures}}(p.Server),
        ReflectionMeta: reflection.ServerMeta{
          ServiceName: {{printf "%q" .FQN}},
          FileDescriptors: {{$reflectionVar}},
        },
      }
    }
  }

{{end -}}

{{/* Reflection server */}}
var {{$reflectionVar}} = [][]byte{
  // {{.Name}}
  {{.Reflection.Encoding}},
  {{range .Dependencies -}}
    // {{.Name}}
    {{.Reflection.Encoding}},
  {{end -}}
}

{{end -}}{{end -}}
